<a href="/doors/fan">Acceso para fans</a> 
<a href="/doors/backliner">Acceso para backliners</a> 
<a href="/doors/artist">Acceso para artistas</a> 
{{#if msg}}
  <p>{{msg}}</p>
{{/if}}

{{#if fan}}
<p>El fan</p>
{{/if}}

{{#if backliner}}
<p>El backliner</p>
{{/if}}

{{#if artist}}
<p>El artist</p>
{{/if}}